@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 20px;
    font-family: "Lato";
    display: flex;
    flex-direction: column;
    background-color: #eee;
    color: #333;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 50px 40px;
    background-color: #fff;
    border-radius: 8px;
}
.title {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}
.main-section {
    display: flex;
}
.left-side {
    width: 66%;
    border-right: 2px solid #444;
}
.secondary-title {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 15px;
}
select {
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #444;
    margin-bottom: 25px;
    cursor: pointer;
}


.btns-wrapper {
    display: flex;
    margin-bottom: 25px;
}
.size-btn {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: 1px solid #444;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.size-btn:hover {
    background-color: rgba(255, 0, 0, 0.555);
    border-color: rgba(255, 0, 0, 0.555);
    color: #fff;
}
.size-btn:not(:last-child){
    margin-right: 15px;
}
.size-btn-active {
    background-color: rgba(255, 0, 0, 0.555);
    border-color: rgba(255, 0, 0, 0.555);
    color: #fff;
}
.label-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.label-wrapper:not(:last-child){
    margin-bottom: 25px;
}
.label-wrapper input {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    cursor: pointer;
}
.label-wrapper label {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.label-wrapper span {
    font-size: 18px;
    transition: all 0.3s ease;
}
.label-wrapper label:hover span{
    color: rgba(255, 0, 0, 0.555);
}
.label-wrapper .label-active  {
    color: rgba(243, 65, 65, 0.555) !important;
}



.right-side {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.right-side div {
    margin-bottom: 25px;
}
.type-title {
    font-size: 18px;
    font-weight: 700;
}
.non-value {
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
}
.size-value {
    font-size: 18px;
    line-height: 1.5;
}
.ustida-item {

}
.ustida-item-hide {
    display: none;
}
.qushimcha-item-hide {
    display: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

ul li::before {
    width: 8px;
    height: 1px;
    content: "";
    background-color: #333;
    margin-right: 10px;
}

.submit-btn {
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    background-color: rgba(255, 0, 0, 0.555);
    border: 2px solid rgb(250, 84, 84);
    transition: all 0.3s ease;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: transparent;
    color: rgba(255, 0, 0, 0.555);
}

.modal {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.modal-show {
    display: flex;
}
.modal-wrapper {
    position: relative;
    width: 70vw;
    height: 70vh;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #fff;
    color: rgba(255, 0, 0, 0.555);
    font-size: 22px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.close-btn:hover {
    transform: scale(1.1);
}
.modal-title {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
}
.modal-main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.modal-wrapper div{
    margin-bottom: 25px;
}